@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    width: 100%;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: calc(10px + 14 * (100vw - 950px) / 970);
    color: #fff;
    background-color: #000;
    overflow-x: hidden;

    position: relative;
}
.container {
    max-width: 1440px!important;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-top-button {
    position: fixed;

    width: 54px;
    height: 54px;

    display: block;
    right: 4%;
    bottom: 20px;
    padding: 10px;

    border-radius: 50%;
    border: 4px solid #008CDA;
    background-color: #ffffff;

    background-image: url(../image/icon/upp.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 999;
    transition: .3s;

    &:hover {
        background-color: #008eda72;
        transition: .3s;
    }
}
.call-bottom-button {
    position: fixed;
    width: 73px;
    height: 73px;
    display: block;
    right: 7%;
    bottom: 60px;
    border-radius: 50%;
    background-image: url(../image/icon/call-fix.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 25;
    transition: .3s;
    animation: pulse-red 2s infinite;
  }

  .button-group-list {
    height: 73px;
    position: fixed;
    right: 6%;
    bottom: 70px;
    color: red;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    .footer-social--link {
      gap: 10px;
      background-color: #42ba07;
      padding: 25px;
      border-radius: 20px;
    }
  }
  .call-bottom-button:hover + .button-group-list,
  .button-group-list:hover {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s ease;
  }

  @keyframes pulse-red {
    0% {
      box-shadow: 0 0 0 0 #55ff00b2;
    }
    80% {
      box-shadow: 0 0 0 10px rgba(28, 180, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(28, 180, 255, 0);
    }
  }

@media (max-width: 800px) {
    .container {
      padding: 0 9px;
  }
  .button-group-list {
    .footer-social--link ul {
      gap: 50px;
      z-index: 50;
    }
  }
  .scroll-top-button {

    width: 35px;
    height: 35px;
    background-size: contain;
}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
          font-size: 16px;
      }
  }