@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    width: 100%;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: calc(10px + 14 * (100vw - 950px) / 970);
    color: #fff;
    background-color: #000;
    overflow-x: hidden;

    position: relative;
}
.container {
    max-width: 1440px!important;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-top-button {
    position: fixed;

    width: 54px;
    height: 54px;

    display: block;
    right: 4%;
    bottom: 20px;
    padding: 10px;

    border-radius: 50%;
    border: 4px solid #008CDA;
    background-color: #ffffff;

    background-image: url(../image/icon/upp.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 30;
    transition: .3s;

    &:hover {
        background-color: #008eda72;
        transition: .3s;
    }
}
.call-bottom-button {
    position: fixed;
    width: 73px;
    height: 73px;
    display: block;
    right: 7%;
    bottom: 60px;
    border-radius: 50%;
    background-image: url(../image/icon/red-call.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    z-index: 30;
    transition: .3s;
    animation: pulse-red 2s infinite;
  }

  .button-group-list {
    height: 73px;
    position: fixed;
    right: 1%;
    bottom: 21%;
    color: red;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    .footer-social--link {
      gap: 10px;
      background-color: #fff;
      padding: 15px;
      border-radius: 20px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      li {
        display: flex;
        gap: 20px;
        justify-content: start;
      }
      p {
        color: #000;
        font-size: 18px;
        font-weight: 400;
      }
      img {
        width: 48px;
        height: 48px;
        object-fit: cover;
      }
    }
  }
  .call-bottom-button:hover + .button-group-list,
  .button-group-list:hover {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s ease;
  }

  @keyframes pulse-red {
    0% {
      box-shadow: 0 0 0 0 #E4032E;
    }
    80% {
      box-shadow: 0 0 0 20px rgba(28, 180, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(28, 180, 255, 0);
    }
  }
  .call-bottom-button__dubble {
    width: 100px; 
    height: 100px;
    right: 16%;
  }
@media (max-width: 800px) {
  .call-bottom-button, .call-bottom-button__dubble {
    width: 45px;
    height: 45px;
  }
  .call-bottom-button__dubble {
    right: 30%;
  }
  .button-group-list {
    height: auto;
    width: 200px;
    position: fixed;
    right: 3%;
    bottom: 2%;
    color: red;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    .footer-social--link {
      gap: 5px;
      background-color: #fff;
      padding: 5px;
      border-radius: 20px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 50;
      }
      li {
        width: 100%;
        display: flex;
        gap: 5px;
        justify-content: start;
      }
      p {
        color: #000;
        font-size: 12px;
        font-weight: 400;
      }
      img {
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }
  }


  .container {
    padding: 0 9px;
  }
  .scroll-top-button {
    display: block;
    right: 3%;
    bottom: 12px;
    padding: 5px;

    width: 30px;
    height: 30px;
    background-size: contain;
  }
}
