@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a {
  color: #ffffff;
}

a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
  color: #ffffff;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  width: 100%;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(10px + 14 * (100vw - 950px) / 970);
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 1440px !important;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-top-button {
  position: fixed;
  width: 54px;
  height: 54px;
  display: block;
  right: 4%;
  bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 4px solid #008CDA;
  background-color: #ffffff;
  background-image: url(../image/icon/upp.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 999;
  transition: 0.3s;
}
.scroll-top-button:hover {
  background-color: rgba(0, 142, 218, 0.4470588235);
  transition: 0.3s;
}

.call-bottom-button {
  position: fixed;
  width: 73px;
  height: 73px;
  display: block;
  right: 7%;
  bottom: 60px;
  border-radius: 50%;
  background-image: url(../image/icon/call-fix.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 25;
  transition: 0.3s;
  animation: pulse-red 2s infinite;
}

.button-group-list {
  height: 73px;
  position: fixed;
  right: 6%;
  bottom: 70px;
  color: red;
  z-index: 30;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.button-group-list .footer-social--link {
  gap: 10px;
  background-color: #42ba07;
  padding: 25px;
  border-radius: 20px;
}

.call-bottom-button:hover + .button-group-list,
.button-group-list:hover {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s ease;
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(85, 255, 0, 0.6980392157);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(28, 180, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(28, 180, 255, 0);
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0 9px;
  }
  .button-group-list .footer-social--link ul {
    gap: 50px;
    z-index: 50;
  }
  .scroll-top-button {
    width: 35px;
    height: 35px;
    background-size: contain;
  }
}
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.header-race {
  background-color: rgba(26, 28, 30, 0.9490196078);
}
.header-race .header-wrapper {
  padding: 0;
}
.header-race .header-logo {
  height: auto;
}
.header-race .header-logo img {
  width: calc(100px + 82 * (100vw - 950px) / 692);
  height: auto;
}
.header-race .header-button a {
  padding: 5px 10px;
}
.header-race .header-button a img {
  width: calc(20px + 12 * (100vw - 950px) / 692);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  position: relative;
}
.header-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #008DDE 0%, #EB097B 53.13%, #571273 100%), #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-logo {
  height: auto;
}
.header-logo img {
  width: calc(150px + 82 * (100vw - 950px) / 692);
  height: auto;
}

.header-title {
  max-width: 100%;
}
.header-title h1 {
  font-size: 1.3em;
  font-weight: 400;
}

.header-contacts ul {
  display: flex;
  flex-direction: column;
}

.header-phone {
  font-size: 1.16em;
  font-weight: 700;
  color: #008DDE;
}

.header-mail {
  font-size: 1.12em;
  font-weight: 400;
  color: #008DDE;
}

.header-button {
  background-color: #008DDE;
  border-radius: 50px;
  transition: 0.3s;
}
.header-button a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 17px;
}
.header-button a img {
  width: calc(25px + 12 * (100vw - 950px) / 692);
}
.header-button:hover {
  background-color: #01588b;
  transition: 0.3s;
}

.cotainer-home__bacground {
  position: relative;
}

.cotainer-home__bacground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../image/home/home-background-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.header-contacts__mobile {
  display: none;
}

@media (max-width: 800px) {
  .header-wrapper {
    padding-top: 15px;
    gap: 5px;
  }
  .header-title {
    max-width: 100%;
  }
  .header-title h1 {
    font-size: 12px;
  }
  .header-phone {
    font-size: 10px;
  }
  .header-mail {
    font-size: 10px;
  }
  .header-button {
    display: none;
  }
  .header-race {
    background-color: rgba(26, 28, 30, 0.9490196078);
  }
  .header-race .header-wrapper {
    padding: 15px 0;
  }
  .header-race .header-logo {
    height: auto;
  }
  .header-race .header-logo img {
    width: calc(150px + 82 * (100vw - 950px) / 692);
    height: auto;
  }
  .header-race .header-button a {
    padding: 5px 10px;
  }
  .header-race .header-button a img {
    width: calc(20px + 12 * (100vw - 950px) / 692);
  }
}
@media (max-width: 470px) {
  .header-contacts {
    display: none;
  }
  .header-contacts__mobile {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.container-drop {
  position: relative;
  overflow: hidden;
  padding-top: 160px;
}

.container-drop::after {
  content: "";
  background-image: url(../image/home/a-drop-1x.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 160px;
  right: 0;
  transform: translateX(30%);
  z-index: -1;
}

.home {
  width: 100%;
  position: relative;
}

.home-wrapper {
  padding-top: 62px;
  padding-bottom: 69px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.home__title-group {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.title-style {
  position: relative;
}

.title-style::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, #008DDE 0%, #EB097B 53.13%, #571273 100%), #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home-title, .title-block {
  padding-left: 20px;
}
.home-title h2, .title-block h2 {
  font-size: 1.92em;
  text-transform: uppercase;
}

.home-subtitle {
  padding-left: 20px;
}
.home-subtitle p {
  font-weight: 400;
  font-size: 1.16em;
}

.home-list {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 45%;
}
.home-list li {
  list-style-image: url(../image/icon/check.svg);
  font-size: 1.4em;
  font-weight: 400;
}

.supply-map {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 30px;
}

.supply-map__wrapper {
  position: relative;
}

.supply-map__title {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.map__image-group {
  width: 100%;
  height: auto;
}

.supply-map__group-btn {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 12px;
  bottom: 0;
  left: 0;
}
.supply-map__group-btn p, .supply-map__group-btn a {
  text-transform: uppercase;
}

.supply-map__btn {
  background-color: #008DDE;
  border-radius: 50px;
  transition: 0.3s;
}
.supply-map__btn a {
  display: block;
  padding: 15px 44px;
}
.supply-map__btn:hover {
  background-color: #01588b;
  transition: 0.3s;
}

#map-container {
  position: relative;
  width: 100%; /* Для занимания всей доступной ширины */
  min-width: 1200px;
  /* Стили для каждой звездочки */
}
#map-container #russia-map {
  width: 100%;
}
@keyframes pulse {
  0% {
    background-color: rgba(0, 141, 222, 0);
  }
  50% {
    background-color: rgba(0, 141, 222, 0.4);
  }
  100% {
    background-color: rgba(0, 141, 222, 0);
  }
}
#map-container .tooltip {
  position: absolute;
  display: none;
  transition: 0.5s;
  z-index: 2;
  /* Стили для блока всплывающей подсказки */
}
#map-container .star {
  position: absolute;
  width: 17px; /* Ширина и высота звездочек */
  height: 17px;
  background-image: url(../image/icon/star.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#map-container .tooltip {
  width: 300px;
  transform: translate(-100%, -100%);
}
#map-container #star-1, #map-container #tooltip-1 {
  top: 34.5%;
  left: 43%;
}
#map-container #star-2, #map-container #tooltip-2 {
  top: 38%;
  left: 42%;
}
#map-container #star-3, #map-container #tooltip-3 {
  top: 42.4%;
  left: 40.2%;
}
#map-container #star-4, #map-container #tooltip-4 {
  top: 40%;
  left: 66.5%;
}
#map-container #finger {
  width: 20px; /* Ширина и высота звездочек */
  height: 20px;
  background-image: url(../image/icon/finger.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 43%;
  right: 32.3%;
}
#map-container #star-5, #map-container #tooltip-5 {
  top: 62%;
  left: 59.5%;
}
#map-container #star-6, #map-container #tooltip-6 {
  top: 68%;
  left: 57.5%;
}
#map-container #star-7, #map-container #tooltip-7 {
  top: 75%;
  left: 54.7%;
}

.supply-map__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 72px;
  left: 105px;
}
.supply-map__subtitle p {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.header-button__mobile {
  display: none;
}

@media (max-width: 800px) {
  .container-drop {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
  }
  .container-drop::after {
    background-size: contain;
    top: 160px;
    transform: none;
  }
  .home-wrapper {
    padding-top: 18px;
    padding-bottom: 69px;
    gap: 250px;
  }
  .home-title h2, .title-block h2 {
    font-size: 18px;
  }
  .home-subtitle p {
    font-size: 15px;
  }
  .home-list {
    max-width: 100%;
  }
  .home-list li {
    font-size: 16px;
  }
  .header-button__mobile {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto 0 auto;
  }
  .header-button__mobile a {
    font-size: 14px;
    gap: 7px;
    padding: 7px 9px;
  }
  .supply-map {
    padding-top: 0;
  }
  .supply-map__title {
    width: 100%;
  }
  .map__image-group {
    width: 100%;
    height: auto;
  }
  .supply-map__group-btn {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 12px;
    bottom: 0;
    left: 0;
  }
  .supply-map__group-btn p, .supply-map__group-btn a {
    text-transform: uppercase;
  }
  .supply-map__btn {
    background-color: #008DDE;
    border-radius: 50px;
    transition: 0.3s;
  }
  .supply-map__btn a {
    display: block;
    padding: 15px 44px;
  }
  .supply-map__btn:hover {
    background-color: #01588b;
    transition: 0.3s;
  }
  #map-container {
    position: relative;
    width: 100%; /* Для занимания всей доступной ширины */
    min-width: 1100px;
    left: 50%;
    transform: translateX(-54%);
  }
  #map-container #tooltip-1 {
    top: 36%;
    left: 71%;
  }
  #map-container #tooltip-2 {
    top: 41%;
    left: 70%;
  }
  #map-container #tooltip-3 {
    top: 44.5%;
    left: 68%;
  }
  #map-container #tooltip-4 {
    top: 43%;
    left: 69%;
  }
  #map-container #finger {
    right: 31.5%;
  }
  #map-container #tooltip-5 {
    top: 63%;
    left: 70%;
  }
  #map-container #tooltip-6 {
    top: 69%;
    left: 69%;
  }
  #map-container #tooltip-7 {
    top: 76%;
    left: 66.5%;
  }
  .supply-map__subtitle {
    width: 240px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .supply-map__subtitle p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .catalog__btn a {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .container-drop::after {
    top: 250px;
  }
}
.catalog {
  padding-top: 78px;
  padding-bottom: 86px;
  background-image: url(../image/catalog/background-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.catalog-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog__title h2 {
  color: #000;
}

.catalog__group-card {
  padding-top: 65px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 37px 28px;
}

.catalog-card {
  background: #E7E7E7;
  border-radius: 15px;
}
.catalog-card .title-style {
  z-index: 0;
  width: 100%;
  height: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, #008DDE 0%, #EB097B 53.13%, #571273 100%), #D9D9D9;
}

.catalog-card__img {
  width: 100%;
  height: auto;
}
.catalog-card__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 27px 20px;
  margin: auto 0;
}

.catalog-card__title h5 {
  text-transform: uppercase;
  color: #000;
}

.catalog__btn {
  text-align: center;
}
.catalog__btn a {
  text-transform: uppercase;
  padding: 16px 36px;
  display: block;
  background: #008DDE;
  border-radius: 30px;
  display: inline;
  transition: 0.3s;
}
.catalog__btn a:hover {
  background-color: #01588b;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .catalog {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .catalog__group-card {
    padding-top: 15px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
  .catalog-card__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9px 13px;
    margin: auto 0;
  }
  .catalog-card__title h5 {
    font-size: 11px;
  }
  .catalog__btn {
    text-align: center;
  }
  .catalog__btn a {
    text-transform: uppercase;
    padding: 8px 14px;
    display: block;
    background: #008DDE;
    border-radius: 30px;
    display: inline;
    transition: 0.3s;
  }
  .catalog__btn a:hover {
    background-color: #01588b;
    transition: 0.3s;
  }
}
@media (max-width: 430px) {
  .catalog-card__title h5 {
    font-size: 6px;
  }
}
.why-us {
  width: 100%;
  padding-top: 71px;
  padding-bottom: 95px;
  background-image: url(../image/why-us/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.why-us__wrapper {
  word-wrap: 100%;
}

.why-us__content {
  padding: 118px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.why-us__card {
  display: flex;
  align-items: center;
  gap: 28px;
}

.why-us__img {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-us__text {
  width: 55%;
}
.why-us__text p {
  font-size: 1em;
  text-transform: uppercase;
}

.why-us_btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 800px) {
  .why-us {
    padding-top: 34px;
    padding-bottom: 21px;
  }
  .why-us__content {
    padding: 27px 20px;
    grid-template-columns: 1fr;
    gap: 26px;
  }
  .why-us__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
  }
  .why-us__img {
    width: 100%;
  }
  .why-us__img img {
    width: 35%;
  }
  .why-us__text {
    width: 100%;
  }
  .why-us__text p {
    font-size: 12px;
    text-align: center;
  }
  .why-us_btn {
    margin-top: 0;
  }
}
@media (max-width: 430px) {
  .why-us .catalog__btn a {
    font-size: 8px;
  }
}
.reviews {
  width: 100%;
  padding-top: 69px;
  padding-bottom: 80px;
  background-image: url(../image/reviews/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reviews-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  color: #000;
}

.reviews-content {
  margin-top: 48px;
  margin-bottom: 33px;
  padding: 0 28px;
  display: flex;
  flex-wrap: nowrap;
  gap: 67px;
  justify-content: space-between;
}

.reviews-card {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}
.reviews-card img {
  max-width: 100%;
}
.reviews-card a {
  text-transform: uppercase;
  padding: 14px 44px;
  display: block;
  background: #008DDE;
  border-radius: 30px;
  display: inline;
  transition: 0.3s;
  font-size: 1em;
}
.reviews-card a:hover {
  background-color: #01588b;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .reviews {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .reviews-content {
    margin-top: 28px;
    margin-bottom: 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
  }
  .reviews-card {
    width: 100%;
    gap: 14px;
  }
  .reviews-card a {
    padding: 7px 17px;
    font-size: 13px;
  }
}
.how-working {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 190px;
}

.how-working__map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 61px;
  margin-bottom: 132px;
}
.how-working__map img {
  max-width: 100%;
}

.how-working__background-mobile {
  display: none;
}

@media (max-width: 800px) {
  .how-working {
    padding: 28px 0;
  }
  .how-working__background {
    display: none;
  }
  .how-working__background-mobile {
    display: block;
  }
  .how-working__map {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 41px;
  }
  .how-working__wrapper .catalog__btn {
    margin-bottom: 28px;
  }
}
.trust-us {
  width: 100%;
}

.trust-us__wrapper {
  width: 100%;
}

.trust-us__content {
  margin-top: 64px;
  margin-bottom: 81px;
  padding: 30px 25px;
  border-radius: 33px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.trust-us__content-container {
  width: 48%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}
.trust-us__content-container .trust-us__img {
  width: 100%;
}
.trust-us__content-container .trust-us__img-zav {
  width: 70%;
}

.trust-us__content-wrapper {
  width: 48%;
  transform: translateY(-20px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: self-end;
}
.trust-us__content-wrapper .trust-us__img {
  width: 100%;
}

@media (max-width: 800px) {
  .trust-us__content {
    margin: 25px 0;
    border-radius: 10px;
    padding: 20px 25px 30px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .trust-us__content img {
    max-width: 70%;
  }
  .trust-us__content .trust-us__img-zav {
    width: 50%;
  }
  .trust-us__content-wrapper {
    width: 100%;
    transform: translateY(0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    text-align: center;
  }
  .trust-us__content-container {
    width: 100%;
    text-align: center;
  }
}
.container-footer-background {
  background-image: url(../image/footer/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  width: 100%;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 20px;
  position: relative;
  padding-top: 41px;
  padding-bottom: 55px;
}
.footer-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #008DDE 0%, #EB097B 53.13%, #571273 100%), #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer-contact__basis {
  display: flex;
  gap: 85px;
}

.footer-logo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.footer-logo {
  max-width: 307px;
  height: auto;
}
.footer-logo img {
  max-width: 100%;
}

.footer-social--link {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.footer-social--link p {
  font-size: 1.16em;
  text-transform: lowercase;
}
.footer-social--link ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer-social--link .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social--link .social:hover .vk {
  fill: #4C75A3;
  transition: 0.3s;
}
.footer-social--link .social:hover .tg {
  fill: #0088cc;
  transition: 0.3s;
}
.footer-social--link .social:hover .wh {
  fill: #075e54;
  transition: 0.3s;
}

.footer-branches__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-branches__wrapper .title {
  font-size: 1.16em;
  text-transform: lowercase;
}
.footer-branches__wrapper .branches-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 43px;
}
.footer-branches__wrapper .branches-card {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.footer-branches__wrapper .branches-card .city {
  text-transform: uppercase;
  font-size: 1em;
}
.footer-branches__wrapper .branches-card .sub-sity {
  font-weight: 400;
  text-transform: none;
}
.footer-branches__wrapper .branches-card .street, .footer-branches__wrapper .branches-card .phone {
  font-weight: 400;
}

.footer-content__protection {
  display: flex;
  flex-direction: column;
  gap: 93px;
  align-items: center;
  text-align: center;
}
.footer-content__protection .footer-info {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer-content__protection .footer-info li, .footer-content__protection .footer-info a {
  font-size: 0.66em;
  font-weight: 400;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .footer-wrapper {
    padding-top: 10px;
    padding-bottom: 19px;
    gap: 10px;
  }
  .footer-contact__basis {
    gap: 20px;
  }
  .footer-logo__wrapper {
    gap: 29px;
  }
  .footer-logo {
    max-width: 150px;
  }
  .footer-logo img {
    max-width: 90%;
  }
  .footer-social--link {
    padding-left: 10px;
    gap: 18px;
  }
  .footer-social--link p {
    font-size: 12px;
  }
  .footer-social--link ul {
    justify-content: start;
    gap: 19px;
  }
  .footer-social--link .social {
    width: 20px;
  }
  .footer-branches__wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .footer-branches__wrapper .title {
    font-size: 12px;
  }
  .footer-branches__wrapper .branches-group {
    grid-template-columns: 1fr;
    gap: 7px;
  }
  .footer-branches__wrapper .branches-card {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .footer-branches__wrapper .branches-card .city {
    font-size: 10px;
  }
  .footer-branches__wrapper .branches-card .sub-sity {
    font-size: 10px;
  }
  .footer-branches__wrapper .branches-card .street, .footer-branches__wrapper .branches-card .phone {
    font-size: 10px;
  }
  .footer-content__protection {
    display: flex;
    flex-direction: column;
    gap: 93px;
    align-items: center;
    text-align: center;
  }
  .footer-content__protection .footer-info {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .footer-content__protection .footer-info li, .footer-content__protection .footer-info a {
    font-size: 7px;
  }
}
@media (max-width: 430px) {
  .footer-wrapper {
    grid-template-columns: 70% 30%;
  }
  .footer-logo img {
    max-width: 70%;
  }
  .footer-contact__basis {
    gap: 0;
  }
  .footer-social--link {
    padding-left: 0;
  }
  .footer-branches__wrapper {
    gap: 5px;
  }
  .footer-branches__wrapper .title {
    font-size: 10px;
  }
  .footer-branches__wrapper .branches-group {
    gap: 5px;
  }
  .footer-branches__wrapper .branches-card .city {
    font-size: 8px;
  }
  .footer-branches__wrapper .branches-card .sub-sity {
    font-size: 8px;
  }
  .footer-branches__wrapper .branches-card .street, .footer-branches__wrapper .branches-card .phone {
    font-size: 8px;
  }
  .footer-content__protection {
    display: flex;
    flex-direction: column;
    gap: 93px;
    align-items: center;
    text-align: center;
  }
  .footer-content__protection .footer-info {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .footer-content__protection .footer-info li, .footer-content__protection .footer-info a {
    font-size: 6px;
  }
}
.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 15;
  z-index: 999;
  transform: translate(100%, -100%) scale(0);
  transition: 0.5s ease-in-out;
}

.scroll-lock {
  overflow: hidden;
}

.pop-up__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop-up__body {
  position: relative;
  width: 500px;
  height: 641px;
  margin: auto;
  padding: 35px 34px 21px 34px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.pop-up__body-text {
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pop-up__body-text h2 {
  font-size: 0.75em;
  font-weight: 700;
}
.pop-up__body-text p {
  font-size: 0.7em;
  font-weight: 400;
}

.pop-up__close {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 35px;
  top: 22px;
  background-image: url(../image/icon/btn-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
  cursor: pointer;
}

.active-pop-up {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.6);
}

.form-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-form {
  background-color: #F5F5F5;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 15px 15px;
  border-radius: 10px;
}

.form-contact label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 0.8em;
  color: #000000;
}
.form-contact label p {
  margin-bottom: 5px;
}
.form-contact label span {
  color: #008DDE;
}

input.input-form::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

input.input-form::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

textarea.input-form::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

textarea.input-form::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.personality {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.personality a {
  color: #008DDE;
}

.personality label {
  font-size: 0.5em;
  font-weight: 400;
  position: relative;
  display: flex;
}

.personality input {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5px;
  border: 2px solid #D7D7D7;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox:checked + label::before {
  background-color: #D7D7D7;
  background-image: url(../image/icon/check-mark.svg);
}

/* стили при наведении курсора на checkbox */
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #D7D7D7;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #D7D7D7;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.form-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 10px;
  background-color: #008DDE;
  color: #FFF;
  border-radius: 22px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s;
}
.form-btn:hover {
  background-color: #01588b;
  transition: 0.3s;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.popup.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.popup__content {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 576px) {
  .popup__content {
    padding-left: 30px;
    padding-right: 20px;
  }
}
.popup__wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
}

.popup__content {
  background-image: linear-gradient(90deg, #CD00FA 20%, #651DDB 80%);
  border-radius: 50px;
  padding: 70px 20px;
  max-width: 730px;
  margin: 0 auto;
  position: relative;
}

.popup__content--fluid {
  padding-left: 0;
  padding-right: 0;
}

.popup__content--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-close {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform 0.2s, opacity 0.2s;
}

.btn-close:hover {
  transform: scale(1.1);
}

.btn-close:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.btn-close::before,
.btn-close::after {
  content: "";
  background: #d2d2d2;
  height: 40px;
  width: 3px;
  position: absolute;
  border: 10px;
  top: 50%;
}

.btn-close::before {
  transform: translateY(-50%) rotate(45deg);
}

.btn-close::after {
  transform: translateY(-50%) rotate(-45deg);
}

.popup__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.page-title {
  font-size: 48px;
  text-align: center;
  margin: 0 auto 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
}

.page-title--accent {
  color: #ffa650;
}

@media (max-width: 576px) {
  .page-title {
    font-size: 36px;
  }
}
.popup__title {
  margin-bottom: 20px;
}

.popup__subtitle {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.popup__subtitle--order {
  max-width: 360px;
  margin: 0 auto 40px;
}

@media (max-width: 800px) {
  .pop-up__body {
    height: 641px;
    padding: 15px 34px 21px 34px;
    gap: 9px;
  }
  .pop-up__body-text h2 {
    font-size: 18px;
  }
  .pop-up__body-text p {
    font-size: 12px;
  }
  .personality label {
    font-size: 12px;
  }
  .form-contact label {
    font-size: 8px;
  }
  .form-btn {
    font-size: 13px;
  }
  .pop-up__close {
    top: 10px;
  }
}
@media (max-width: 430px) {
  .pop-up__body {
    padding: 15px;
    gap: 9px;
  }
  .pop-up__body-text h2 {
    font-size: 14px;
  }
  .pop-up__body-text p {
    font-size: 10px;
  }
  .input-form {
    padding: 10px 10px;
  }
}/*# sourceMappingURL=style.css.map */