.catalog {
    padding-top: 78px;
    padding-bottom: 86px;

    background-image: url(/image/catalog/background-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.catalog-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalog__title {
    h2 {
        color: #000;
    }
}
.catalog__group-card {
    padding-top: 65px;
    padding-bottom: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 37px 28px;
}
.catalog-card {
    background: #E7E7E7;
    border-radius: 30px;

    .title-style {
        z-index: 0;
        width: 100%;
        height: 6px;
        border: 1px solid rgba(0, 0, 0, 0.00);
        background: linear-gradient(90deg, #008DDE 0%, #EB097B 53.13%, #571273 100%), #D9D9D9;
    }
}
.catalog-card__img {
    width: 100%;
    height: auto;
    img {
        max-width: 100%;
        object-fit: cover;
    }
}
.catalog-card__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 27px 20px;
    margin: auto 0;
}
.catalog-card__title h5 {
    text-transform: uppercase;
    color: #000;
}


.catalog__btn {
    text-align: center;
    a {
        text-transform: uppercase;
        padding: 16px 36px;
        display: block;
        background: #008DDE;
        border-radius: 30px;
        display: inline;
        transition: .3s;

        &:hover {
            background-color: #01588b;
            transition: .3s;
        }
    }
}