.how-working {
    width: 100%;

    padding-top: 90px;
    padding-bottom: 190px;
}

.how-working__map {
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    margin-bottom: 132px;

    img {
        max-width: 100%;
    }
}
