.how-working {
    width: 100%;

    padding-top: 90px;
    padding-bottom: 190px;
}

.how-working__map {
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    margin-bottom: 132px;

    img {
        max-width: 100%;
    }
}
.how-working__background-mobile {
    display: none;
}

@media (max-width: 800px) {
    .how-working {
        padding: 28px 0
    }
    .how-working__background {
        display: none;
    }
    .how-working__background-mobile {
        display: block;
    }
    .how-working__map {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 41px;
    }
    .how-working__wrapper {
        .catalog__btn {
            margin-bottom: 28px;
        }
    }
}
