.trust-us {
    width: 100%;
}
.trust-us__wrapper {
    width: 100%;
}
.trust-us__title {
}
.trust-us__content {
    margin-top: 64px;
    margin-bottom: 81px;

    padding: 30px 25px;

    border-radius: 33px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.trust-us__content-container {
    width: 48%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;

    .trust-us__img {
        width: 100%;
    }
    .trust-us__img-zav {
        width: 70%;
    }
}
.trust-us__content-wrapper {
    width: 48%;
    transform: translateY(-20px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: self-end;

    .trust-us__img {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .trust-us__content {
        margin: 25px 0;
        border-radius: 10px;

        padding: 20px 25px 30px 25px;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;

        img {
            max-width: 70%;
        }
        .trust-us__img-zav {
            width: 50%;
        }
    }
    .trust-us__content-wrapper {
        width: 100%;
        transform: translateY(0);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        text-align: center;
    }
    .trust-us__content-container {
        width: 100%;
        text-align: center;
    }
}


